@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
    font-family: 'Exo', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 1rem 2rem;
    height: 100vh;
    background-color: rgb(244, 117, 182);
    background-image: linear-gradient(324deg, rgb(246, 161, 56) 0%, rgb(244, 117, 182) 67%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

select,
button {
    min-height: 40px;
    min-width: 210px;
    text-align: center;
    border: 3px solid black;
    margin: 0 10px;
    font-size: 1.1rem;
    padding: 6px 10px;
}

select:focus, button:focus {
    outline: rgb(11, 179, 179) 3px solid;
}

button:hover {      
    background-color: black;
    color: white;
    transition: 500ms ease-in-out;
}

.poomsaes {
    height: 100px;
    min-width: 220px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 0 10px;
    padding: 0 10px;
    background-color: white;
    overflow: hidden;
    cursor:pointer;
}

.highlight {
    font-size: 4rem;
    opacity: 0.6;
    margin: 0 -22px;
}

.lighter {
   font-weight: 500;
}


.drop-in {
    animation: drop-in 2s
    ease-in-out;
   
}

.drop-out {
    animation: drop-out 1s ;
   
}

.fade-in {
    animation: fade-in 2s ease-in-out;
}

.fade-out {
    animation: fade-out 1s ease-out;
}

.flip-in {
    animation: flip-in 2s;
}
.flip-out {
    animation: flip-out 1s;
}


@keyframes drop-in {
    from {
        transform: translateY(-250%);
       
    }

    to {
        transform: translateY(0);
     
    }

}

@keyframes drop-out {
    from {
        transform: translateY(0);
      
    }

    to {
        transform: translateY(300%);
      
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        scale: 0.1;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        scale: 1;

    }

    to {
        opacity: 0;
        scale: 0;
    }
}

@keyframes flip-in {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0);
    }
}

@keyframes flip-out {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(180deg);
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 1rem;
    }

    .form-group {
        flex-direction: column;
        height: auto;
    }

    .poomsaes {
        width: 100%;

    }

    select {
        margin-top: 10px;
    }

    .highlight {
        font-size: 3.8rem;
        margin: -2.3rem 0;

    }

}